@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
}

input {
  display: block;
}

buttom {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 100px 0;
  /*header========== */
}
.container--top {
  padding: 40px 15px 100px;
}
.container--down {
  padding: 100px 15px 40px;
}
.container--null {
  padding: 0 15px;
}
.container--same {
  padding: 40px 15px 40px 15px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.screen__center--liners:before {
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  width: 1px;
}
.screen__side--liners::before {
  height: 100%;
  left: 15%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  width: 1px;
}
.screen__side--liners::after {
  height: 100%;
  right: 15%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: rgba(250, 250, 250, 0.3);
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  width: 1px;
}

.header {
  background: url(../photo/header-bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.header::before {
  height: calc(100% - 115px);
  top: 220px;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.header__container::before {
  height: calc( 100% - 110px  );
}
.header__container::after {
  height: calc(100% - 110px);
}
.header__content {
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}
.header__operating-box {
  width: 60px;
}
.header__operating-mode {
  text-align: center;
  display: block;
  width: 500%;
  font-size: 12px;
  transform-origin: left;
  transform: rotate(-90deg) translate(-50%, 50%);
}
.header__box {
  text-align: center;
}
.header__subtitle {
  margin: 0 auto;
  font-size: 12px;
  letter-spacing: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}
.header__title {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Delius Unicase", cursive;
  margin-bottom: 35px;
}
.header__title::after {
  display: block;
  content: "";
  width: 60px;
  height: 5.1px;
  background: #E8C300;
  border-radius: 50px;
  margin: 0 auto;
}
.header__buttons {
  cursor: pointer;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  height: 60px;
  flex-basis: 45%;
  transition: 0.2s linear;
}
.header__buttons:focus {
  outline: none;
}
.header__buttons:hover {
  background: #E8C300;
}
.header__buttons-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}
.header__buttons:first-child {
  margin-right: auto;
}
.header__down-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  transition: 0.2s linear;
}
.header__down-btn:hover {
  background: #E8C300;
}

/*nav========== */
.nav {
  display: flex;
  width: 100%;
  padding-top: 0 25px;
  align-items: flex-start;
  flex-basis: 100%;
  /*social========== */
}
.nav__list {
  justify-content: space-between;
  display: flex;
  flex-basis: calc( 50% - 105px );
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 50%;
}
.nav__list--left {
  order: -1;
}
.nav__item {
  display: flex;
}
.nav__link {
  outline: none;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.6;
}
.nav__link:hover {
  color: #F4CA16;
  transition: 0.2s liner;
  z-index: 1;
}
.nav__decor {
  margin: 0 auto;
}
.nav .social__item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.nav .social__item:hover {
  transition: 0.5s linear;
  border: #F4CA16;
  background-color: #F4CA16;
}
.nav__link {
  display: flex;
  height: 100%;
  color: #fff;
}
.nav__link i {
  margin: auto;
}

.social__item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.social__item:hover {
  transition: 0.5s linear;
  border: #F4CA16;
  background-color: #F4CA16;
}
.social__link {
  display: flex;
  height: 100%;
  color: #fff;
  font-size: 20px;
}
.social__link i {
  margin: auto;
}

/*section========== */
.title {
  text-align: center;
  line-height: 48px;
  font-weight: 700;
  font-size: 36px;
  font-family: "Delius Unicase", cursive;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.title::after {
  display: block;
  content: "";
  width: 60px;
  height: 5.1px;
  background: #E8C300;
  border-radius: 50px;
  margin: 0 auto;
  transition: 0.6s;
}
.title:hover::after {
  width: 100px;
}

.subtitle {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.text {
  text-align: center;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.article {
  display: block;
}
.article__inner {
  display: flex;
  align-items: center;
}
.article__content {
  color: #000;
  flex-basis: calc( 100% - 680px  );
  text-align: center;
}
.article__picture {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.article__picture:before {
  position: absolute;
  display: block;
  content: "";
  border: 20px solid #E8C300;
  height: 250px;
  top: 50%;
  width: 250px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  z-index: 1;
  right: 0;
  transform: translateY(-50%);
  transition: all 0.4s ease 0.1s;
  animation: rotate 0.6s infiniti linear;
}
.article__picture--right {
  margin-left: 80px;
  padding-right: 125px;
}
.article__picture--right:before {
  right: 0;
}
.article__picture:hover::before {
  right: 20.4%;
  width: 485px;
  height: 485px;
}
.article__image {
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
  height: 475px;
  width: auto;
}

/*section---two========== */
.article--content {
  color: #fff;
}
.article--ourteam {
  background: url(../photo/specialtys-bg.jpg);
  background-size: cover;
}
.article__inner {
  display: flex;
  flex-wrap: wrap;
}
.article__sub {
  letter-spacing: 8px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 12px;
  margin-bottom: 43px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  flex-basis: 100%;
}
.article__picture--left {
  margin-right: 80px;
  padding-left: 125px;
}
.article__picture--left:before {
  left: 0;
}
.article__picture--left:hover::before {
  left: 20.4%;
  width: 485px;
  height: 485px;
}

/*section---three========== */
.form {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.form__row:first-child {
  margin-right: auto;
}
.form__row {
  width: 49%;
  text-align: left;
}
.form__row__input {
  width: 100%;
  height: 60px;
  background-color: #E5E5E5;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 15px;
  color: #000;
}
.form__row__input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.form__row__input:focus {
  outline: 0;
}
.form__btn {
  width: 100%;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background: #E8C300;
  color: #fff;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  transition: 0.2s linear;
}
.form__btn:focus {
  outline: 0;
}
.form__btn:hover {
  color: #000;
  background-color: #caaa08;
}

.article__texts {
  flex-basis: 100%;
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
  margin-top: 40px;
  transition: 0.3s linear;
}
.article__texts:hover {
  color: rgba(51, 51, 51, 0.9);
}

.article__texti {
  font-weight: 700;
}

/*section---slider========== */
.article--slider {
  position: relative;
  background: url(../photo/bd2cc411643a2822521d6e716aa42a6c.jpg) center;
  background-size: cover;
}
.article--slider:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.article__btm {
  margin-top: 45px;
  text-align: center;
  flex-basis: 100%;
}
.article__btm__slider {
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.2s linear;
}
.article__btm__slider:focus {
  outline: 0;
}
.article__btm__slider:hover {
  background-color: #fff;
}
.article__btm__slider--action {
  background-color: #fff;
}

/*section---menu========== */
.article--contents {
  max-width: 565px;
  margin: 0 auto;
}

.button {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.button:hover {
  color: #E8C300;
}
.button__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  background-color: #fff;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.button__item:active {
  color: #E8C300;
}
.button__item:hover {
  color: #E8C300;
}
.button__item:last-child {
  border-right: 0;
}
.button__item:focus {
  outline: 0;
}

.menu {
  display: inline-block;
  margin-top: 51px;
  columns: 360px auto;
  margin-right: 81px;
}
.menu:last-child {
  margin-right: 0;
}
.menu__item {
  font-family: "Open Sans", sans-serif;
  height: 66px;
}
.menu__title {
  font-size: 18px;
  line-height: 18px;
  color: #333;
}
.menu__subtitle {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.4);
}

/*section---PRIVATE EVENTS========== */
.events {
  position: relative;
  background: url(../photo/70e7260a49c4e24f3470ef4e57de2623.jpg) center;
  background-size: cover;
}
.events__content {
  display: flex;
  justify-content: space-between;
}
.events__picture--left {
  margin-right: 0;
}
.events__picture--right {
  margin-left: 0;
}

.article__picture:hover:after {
  background-color: #E8C300;
  color: #000;
}
.article__picture::after {
  background-color: #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  align-self: center;
  bottom: 4px;
  align-items: center;
  position: absolute;
  font-size: 24px;
  letter-spacing: 0.0625em;
  padding: 27px 30px;
  text-transform: uppercase;
  width: calc(100% - 125px);
}
.article__picture--left::after {
  right: 80px;
  transform-origin: right bottom;
  transform: rotate(90deg);
}
.article__picture--text::after {
  content: attr(data-info);
}
.article__picture--right::after {
  right: 45px;
  transform-origin: left bottom;
  transform: rotate(-90deg);
}
.article--tex {
  color: rgba(255, 255, 255, 0.5);
}
.article--tex:hover {
  color: #fff;
}

/*section---picture========== */
.section__picture {
  display: flex;
  flex-wrap: wrap;
}

.image {
  flex-basis: calc( 100% /4  );
  height: 360px;
}

/*section---form========== */
.form__contact {
  margin-top: 51px;
}
.form__contact__data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form__contact--data {
  flex-basis: 33%;
  margin-bottom: 0px;
}
.form__contact--msg {
  flex-basis: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 10px;
}
.form__contact__info {
  display: flex;
  justify-content: space-between;
}
.form__contact__info__item {
  display: block;
  align-self: center;
  font-size: 14px;
  line-height: 14px;
  margin-right: 25px;
}
.form__contact__info__item:last-child {
  margin-right: 0;
}
.form__contact__info__item i {
  margin-right: 5px;
}
.form__contact__info__item__link {
  color: #333;
}
.form__contact__info__item__link:hover {
  color: #E8C300;
}
.form__contact__info__list {
  flex-basis: 50%;
}
.form__contact__info__list:first-child {
  display: flex;
}

/*section---map========== */
.article--map {
  background: url(../photo/card.png) center;
  background-size: cover;
  height: 475px;
}

/*section---footer========== */
.footer {
  background-color: rgba(0, 0, 0, 0.9);
}
.footer__text {
  letter-spacing: 3px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s linear;
}
.footer__text:hover {
  color: #fff;
}
.footer__title {
  font-weight: 700;
  transition: 0.6s linear;
}
.footer__title:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
