@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input, button, textarea {
  font-family: inherit;
}

input {
  display: block;
}

buttom {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 100px 0;
  /*header========== */
}
.container--top {
  padding: 40px 15px 100px;
}
.container--down {
  padding: 100px 15px 40px;
}
.container--null {
  padding: 0 15px;
}

.header {
  background: url(../photo/header-bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.header__content {
  color: #ffffff;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
}
.header__operating-box {
  width: 18px;
}
.header__operating-mode {
  display: block;
  width: 308px;
  transform-origin: left;
  transform: rotate(-90deg) translate(-50%, 50%);
}
.header__box {
  text-align: center;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}
.header__subtitle {
  font-size: 12px;
  letter-spacing: 0.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}
.header__title {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Delius Unicase", cursive;
  margin-bottom: 35px;
}
.header__title::after {
  display: block;
  content: "";
  width: 60px;
  height: 5.1px;
  background: #E8C300;
  border-radius: 50px;
  margin: 0 auto;
}
.header__btn {
  cursor: pointer;
  justify-self: center;
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 40px;
  width: 200px;
  height: 60px;
}
.header__btn:hover {
  background: #E8C300;
  transition: 0.2s linear;
  color: #000;
}
.header__down-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  transition: 0.2s linear;
}
.header__down-btn:hover {
  background: #E8C300;
}

/*nav========== */
.nav {
  display: flex;
  padding-top: 0 25px;
  align-items: flex-start;
  flex-basis: 100%;
}
.nav__list {
  justify-content: space-between;
  display: flex;
  flex-basis: calc( 50% - 140px );
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 50%;
}
.nav__list--left {
  order: -1;
}
.nav__item {
  display: flex;
}
.nav__link {
  outline: none;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.6;
}
.nav__link:hover {
  color: #F4CA16;
  transition: 0.2s liner;
  z-index: 1;
}
.nav__decor {
  margin: 0 auto;
}

.social__item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.social__item:hover {
  background-color: #F4CA16;
  transition: 0.2s liner;
}
.social__link {
  display: flex;
  height: 100%;
  color: #fff;
  font-size: 20px;
}
.social__link i {
  margin: auto;
}

/*section========== */
.subtitle {
  font-size: 36px;
  font-family: "Delius Unicase", cursive;
  text-transform: uppercase;
}
.subtitle::after {
  display: block;
  content: "";
  width: 60px;
  height: 5.1px;
  background: #E8C300;
  border-radius: 50px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  margin: 20px 0;
}

.text {
  font-weight: normal;
}

.about {
  display: flex;
  flex-wrap: wrap;
}
.about__content {
  font-weight: 700;
  text-align: center;
}
.about__item {
  position: relative;
  justify-content: space-between;
  flex-basis: calc(100% - 680px);
  align-self: center;
  margin-right: 60px;
  width: 100%;
}
.about__item:last-child {
  flex-basis: 680px;
  margin-right: 0;
}
.about__img {
  display: block;
  height: 475px;
  width: 475px;
}
.about__img::before {
  border: 20px solid #E8C300;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  content: "";
  height: 250px;
  position: absolute;
  transform: translateY(-50%);
  transition-duration: 0.8s;
  width: 250px;
  z-index: 1;
}

/*section__two========== */
.section__two {
  background: url(../photo/header-bg.jpg) no-repeat center;
  background-size: cover;
}

.ourteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ourteam__content {
  color: #fff;
  text-align: center;
  font-weight: 700;
}
.ourteam__item {
  flex-basis: 50%;
  width: 100%;
  align-self: center;
}
.ourteam__item:nth-child(2) {
  order: -1;
}
.ourteam__img {
  margin: 0 auto;
  display: block;
  height: 475px;
  width: 475px;
}

/*section__free ============ */
.reservation_of_seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.reservation_of_seats__item {
  align-self: center;
  flex-basis: 50%;
}
.reservation_of_seats__item:nth-child(2) {
  margin-right: -80px;
  width: 100%;
}
.reservation_of_seats__item__img {
  display: block;
  height: 475px;
  width: 475px;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 20px;
  align-self: center;
}
.form__row {
  justify-content: center;
  width: 276.8px;
  margin-right: 10px;
  text-align: left;
}
.form__row__input {
  width: 276.8px;
  height: 60px;
  background-color: #E5E5E5;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 15px;
  color: #000;
}
.form__row__input::placeholder {
  color: rgba(51, 51, 51, 0.5);
}
.form__row__input:focus {
  outline: 0;
}
.form__row__input:focus__option:focus {
  outline: 0;
}
.form__btn {
  flex-basis: 563.58px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  background: #E8C300;
  color: #fff;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  transition: 0.2s linear;
}
.form__btn:focus {
  outline: 0;
}
.form__btn:hover {
  background-color: #caaa08;
}

/*# sourceMappingURL=style.css.map */
