@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Open+Sans:wght@400;700&display=swap')
$ff: 'Delius Unicase', cursive
$ff1:'Open Sans', sans-serif 


@import "_var.sass"
//-------
.container
  max-width: 1200px
  margin: 0 auto
  height: 100%
  width: 100%
  padding: 100px 0
  &--top
    padding: 40px 15px 100px
  &--down
    padding: 100px 15px 40px
  &--null
    padding: 0 15px
  
      
  /*header==========*/
.header
  background: url(../photo/header-bg.jpg) no-repeat center 
  background-size: cover
  height: 100vh
  &__container
    display: flex
    flex-wrap: wrap
    align-content: space-between
    
      
  &__content
    color: #ffffff
    display: flex
    margin: 0 auto
    align-items: center
    justify-content: space-between
    flex-basis: 100%
  &__operating-box
    width: 18px
  &__operating-mode
    display: block
    width: 308px
    transform-origin: left
    transform: rotate(-90deg)translate(-50%,50%)
  &__box
    text-align: center
    border-right: 2px solid rgba(255,255,255 ,0.5)
    border-left: 2px solid rgba(255,255,255 ,0.5)
  &__subtitle
    font-size: 12px
    letter-spacing: 0.5em 
    font-family: $ff1
    font-weight: 700
    line-height: 14px
    text-transform: uppercase
  &__title
    font-size: 96px
    font-weight: 700
    text-transform: uppercase
    font-family: $ff
    margin-bottom: 35px
    &::after
      display: block
      content: ""
      width: 60px
      height: 5.1px
      background: #E8C300
      border-radius: 50px
      margin: 0 auto
  &__btn
    cursor: pointer
    justify-self: center
    display: inline-block
    color: #fff
    font-family: $ff1
    font-size: 12px
    text-transform: uppercase
    font-weight: 700
    line-height: 1.6
    background-color: rgba(255,255,255 ,0)
    border: 1px solid #fff
    border-radius: 5px
    margin-left: 40px
    &:hover
      background: #E8C300
      transition: 0.2s linear
  &__btn--action
      padding: 20px 55px
      background: #E8C300
  &__btn--default
    padding: 20px 65px
    
  &__down-btn
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    height: 40px
    width: 40px
    border-radius: 50%
    background: #fff
/*nav==========*/
.nav
  display: flex
  padding-top: 0 25px
  align-items: flex-start
  flex-basis: 100%
  &__list
    justify-content: space-between
    display: flex
    flex-basis: calc( 50% - 140px )
    border-bottom: 1px solid rgba(255,255,255 ,0.5)
    height: 50%

    &--left
      order: -1
  &__item
    display: flex
  &__link
    display: flex
    align-items: center
    padding: 0 15px
    color: #ffffff
    font-weight: 700
    font-family: $ff1
    text-transform: uppercase
    font-size: 12px
    line-height: 1.6
    &:hover
      color: #F4CA16
      transition: 0.2s liner
      z-index: 1
  &__decor
    margin: 0 auto
.social

  &__item
    width: 60px
    height: 60px
    border-radius: 50%
    border: 1px solid #fff
    margin-bottom: 20px
    &:hover
      background-color: #F4CA16
      transition: 0.2s liner
  &__link
    display: flex
    height: 100%
    color: #fff
    font-size: 40px
    i
      margin: auto
/*section==========*/
.subtitle
  font-size: 36px
  font-family: $ff
  text-transform: uppercase
  &::after
    display: block
    content: ""
    width: 60px
    height: 5.1px
    background: #E8C300
    border-radius: 50px
    margin: 0 auto
.title
  font-weight: 700
  font-size: 14px
  line-height: 24px
  font-family: $ff1
  margin: 20px 0
.text
  font-weight: normal

.about
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__content
    font-weight: 700
    text-align: center
  &__item
    flex-basis: 50%
    margin-right: 80px
    margin: auto

    &:nth-child(2)
    width: 100%
    &:last-child
      margin-right: 0
  &__img
    display: block
    height: 475px
    width: 475px
  &__imgs
    display: block
    position: absolute
    top: 2%
    left: 75%
    transform: rotate(-2,-75% )
    z-index: 1
/*section__two==========*/
.section__two
  background: url(../photo/header-bg.jpg) no-repeat center
  background-size: cover
.ourteam
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__content
    color: #fff
    text-align: center
    font-weight: 700
  &__item
    flex-basis: 457px
    width: 100%
    margin: auto
    &:nth-child(2)
      
      order: -1
      &::before
        
  &__img
    display: block
    height: 475px
    width: 475px


    









  
    

