@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Open+Sans:wght@400;700&display=swap')
$ff: 'Delius Unicase', cursive
$ff1:'Open Sans', sans-serif 


@import "_var.sass"
//-------
.container
  max-width: 1200px
  margin: 0 auto
  height: 100%
  width: 100%
  padding: 0 15px
.header
  background: url(../photo/header-bg.jpg) no-repeat center 
  background-size: cover
  height: 100vh
.nav
  display: flex
  padding-top: 25px
  align-items: flex-start
  &__list
    justify-content: space-between
    display: flex
    flex-basis: calc( 50% - 140px )
    border-bottom: 1px solid rgba(80,61,52, 0.6)
    
    &--left
      order: -1
  &__item
    display: flex
    height: 70px
    
  &__link
    display: flex
    align-items: center
    padding: 0 15px
    color: #ffffff
    font-weight: 700
    font-family: $ff1
    text-transform: uppercase
    font-size: 12px
    &:hover
      color: #F4CA16
      transition: 0.2s liner
      z-index: 1
  &__decor
    margin: 0 auto
.header__content
  color: #ffffff
  display: flex
  align-items: center
  
    

