@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&family=Open+Sans:wght@400;700&display=swap')
$ff: 'Delius Unicase', cursive
$ff1:'Open Sans', sans-serif 


@import "_var.sass"
//-------
.container
  max-width: 1280px
  margin: 0 auto
  height: 100%
  width: 100%
  position: relative
  z-index: 3
  padding: 100px 0
  &--top
    padding: 40px 15px 100px
  &--down
    padding: 100px 15px 40px
  &--null
    padding: 0 15px
  &--same
    padding: 40px 15px 40px 15px
  
      
  /*header==========*/
.header
  background: url(../photo/header-bg.jpg) no-repeat center 
  background-size: cover
  height: 100vh
  &__container
    display: flex
    flex-wrap: wrap
    align-content: space-between
    
  
  &__content
    color: #ffffff
    display: flex
    margin: 0 auto
    align-items: center
    justify-content: space-between
    flex-basis: 100%
  &__operating-box
    width: 18px
  &__operating-mode
    display: block
    width: 308px
    transform-origin: left
    transform: rotate(-90deg)translate(-50%,50%)
  &__box
    text-align: center
    border-right: 2px solid rgba(255,255,255 ,0.5)
    border-left: 2px solid rgba(255,255,255 ,0.5)
  &__subtitle
    font-size: 12px
    letter-spacing: 0.5em 
    font-family: $ff1
    font-weight: 700
    line-height: 14px
    text-transform: uppercase
  &__title
    font-size: 96px
    font-weight: 700
    text-transform: uppercase
    font-family: $ff
    margin-bottom: 35px
    &::after
      display: block
      content: ""
      width: 60px
      height: 5.1px
      background: #E8C300
      border-radius: 50px
      margin: 0 auto
  &__btn
    cursor: pointer
    justify-self: center
    display: inline-block
    color: #fff
    font-family: $ff1
    font-size: 12px
    text-transform: uppercase
    font-weight: 700
    line-height: 1.6
    background-color: rgba(255,255,255 ,0)
    border: 1px solid #fff
    border-radius: 5px
    margin-left: 40px
    width: 200px
    height: 60px
    &:hover
      background: #E8C300
      transition: 0.2s linear
      color: #000
      
      
    
  &__down-btn
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    height: 40px
    width: 40px
    border-radius: 50%
    background: #fff
    transition: 0.2s linear
    &:hover
      background: #E8C300
/*nav==========*/
.nav
  display: flex
  width: 100%
  padding-top: 0 25px
  align-items: flex-start
  flex-basis: 100%
  &__list
    justify-content: space-between
    display: flex
    flex-basis: calc( 50% - 105px )
    border-bottom: 1px solid rgba(255,255,255 ,0.5)
    height: 50%

    &--left
      order: -1
  &__item
    display: flex
  &__link
    outline: none
    display: flex
    align-items: center
    padding: 0 15px
    color: #ffffff
    font-weight: 700
    font-family: $ff1
    text-transform: uppercase
    font-size: 12px
    line-height: 1.6
    &:hover

      color: #F4CA16
      transition: 0.2s liner
      z-index: 1
  &__decor
    margin: 0 auto
.social

  &__item
    width: 60px
    height: 60px
    border-radius: 50%
    border: 1px solid #fff
    margin-bottom: 20px
    &:hover
      transition: 0.5s linear
      border: #F4CA16
      background-color: #F4CA16
  &__link
    display: flex
    height: 100%
    color: #fff
    font-size: 20px
    i
      margin: auto
/*section==========*/
.title
  text-align: center
  line-height: 48px
  font-weight: 700
  font-size: 36px
  font-family: $ff
  text-transform: uppercase
  margin-bottom: 10px
  &::after
    display: block
    content: ""
    width: 60px
    height: 5.1px
    background: #E8C300
    border-radius: 50px
    margin: 0 auto
    transition: 0.6s
  &:hover::after
    width: 100px
.subtitle
  display: block
  font-weight: 700
  font-size: 18px
  line-height: 28px
  font-family: $ff1
  margin-bottom: 20px
.text
  text-align: center
  font-weight: normal
  font-family: $ff1
  font-size: 14px
  line-height: 24px

.article
  display: block
  &--about
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
  &__content
    color: #000
    flex-basis: calc( 100% - 680px  )
    text-align: center
.picture
  display: block
  flex-basis: 600px
  position: relative
  &__image
    border-radius: 4px
    box-shadow: 0 0 35px rgba(0,0,0,0.5)
    height: 475px
    width: auto
  &--right
    text-align: left
    &::before
      
    &::before
      position: absolute
      display: block
      content: ''
      border: 20px solid #E8C300
      height: 250px
      top: 50%
      right: 0
      width: 250px
      box-shadow: 0 0 35px rgba(0,0,0,0.5)
      z-index: 1
      transform: translateY(-50%)
      transition: all 0.3s ease 0s
      animation: rotate 0.3s infiniti linear
    &:hover::before
      right: 40%
      
      @keyframes yellow-square
        0%
          transform: rotate(0)
        100%
          transform: rotate(270deg)
          
      


/*section---two==========*/
.article
  &--content
    color: #fff
  &--ourteam
    background: url(../photo/specialtys-bg.jpg)
    background-size: cover
  &__inner
    display: flex
    flex-wrap: wrap
  &__sub
    letter-spacing: 8px
    color: #fff
    font-family: $ff1
    font-weight: 700
    line-height: 1.4
    font-size: 12px
    margin-bottom: 43px
    text-align:  center
    text-transform: uppercase
    display: block
    flex-basis: 100%
.picture
  position: relative
  &--left
    text-align: right
  &--left::before
    position: absolute
    display: block
    content: ''
    border: 20px solid #E8C300
    height: 250px
    top: 50%
    left: 0
    width: 250px
    box-shadow: 0 0 35px rgba(0,0,0,0.5)
    z-index: 1
    transform: translateY(-50%)
/*section---three==========*/
.form
  display: flex
  margin-top: 20px
  flex-wrap: wrap
  &__row:first-child
    margin-right: auto
  &__row
    width: 49%
    text-align: left
    &__input
      width: 100%
      height: 60px
      background-color: #E5E5E5
      margin-bottom: 10px
      border-radius: 5px
      font-size: 14px
      font-family: $ff1
      font-weight: 400
      padding: 15px
      color: #000
      &::placeholder
        color: rgba(51, 51, 51, 0.5)
      &:focus
        outline: 0

  &__btn
    width: 100%
    height: 60px
    text-align: center
    border-radius: 5px
    cursor: pointer
    background: #E8C300
    color: #fff
    font-weight: 700
    font-family: $ff1
    transition: 0.2s linear
    &:focus
      outline: 0
    &:hover
      color: #000
      background-color: #caaa08
.article__texts
  flex-basis: 100%
  text-align: center
  font-weight: 400
  font-family: $ff1
  font-size: 12px
  line-height: 12px
  color: rgba(51, 51, 51, 0.5)
  margin-top: 40px
  transition: .3s linear
  &:hover
    color: rgba(51, 51, 51, 0.9)
.article__texti
  font-weight: 700
/*section---slider==========*/
.article
  &--slider
    position: relative
    background: url(../photo/bd2cc411643a2822521d6e716aa42a6c.jpg) center
    background-size: cover
    &:after
      position: absolute
      content: ''
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgba(0,0 ,0 ,0.5 )
      z-index: 2

      
.article__btm
  margin-top: 45px
  text-align: center
  flex-basis: 100%
  &__slider
    margin-right: 20px
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: rgba(255, 255, 255, 0.5)
    cursor: pointer
    transition: 0.2s linear
    &:focus
      outline: 0
    &:hover
      background-color: #fff
    &--action
      background-color: #fff
/*section---menu==========*/
.article
  &--contents
    max-width: 565px
    margin: 0 auto
.button
  margin-top: 50px
  text-align: center
  text-transform: uppercase
  font-family: $ff1
  
  &:hover
    color: #E8C300
  &__item
    font-weight: 700
    font-size: 12px
    line-height: 18px
    width: 120px
    height: 50px
    cursor: pointer
    background-color: #fff
    border-right: 1px solid rgba(51, 51, 51, 0.2)
    &:active
      color: #E8C300
    &:hover
      color: #E8C300
    
    &:last-child
      border-right: 0
    &:focus
      outline: 0
.menu
  display: inline-block
  margin-top: 51px
  columns: 360px auto
  margin-right: 81px
  &:last-child
      margin-right: 0
  &__item
    font-family: $ff1
    height: 66px
    
  &__title
    font-size: 18px
    line-height: 18px
    color: #333
  &__subtitle
    font-size: 12px
    line-height: 12px
    font-weight: 400
    color: rgba(51, 51, 51, 0.4)
/*section---PRIVATE EVENTS==========*/
.article
  &--text
    color: rgba(225,225,225 ,0.5 )
    &:hover
      transition: 0.2s linear
      color: #fff
  &--privat
    position: relative
    background: url(../photo/70e7260a49c4e24f3470ef4e57de2623.jpg) center
    background-size: cover
    &:after
      position: absolute
      content: ''
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgba(0,0 ,0 ,0.5 )
      z-index: 2
.picture

  position: relative
  &__image:hover
    background: rgba(0,0 ,0 ,0.5 )
  &--rights::after
    display: block
    content: 'corporate pzrties '
    border-top-right-radius: 5px
    border-top-left-radius: 5px
    text-transform: uppercase
    background-color: #000000
    color: #fff
    font-weight: 700
    font-family: $ff1
    font-size: 24px
    width: calc(100% - 125px)
    padding: 28px 
    text-align: left
    line-height: 12px
    position: absolute
    bottom: -64px
    z-index: 5
    transform: rotate(-90deg)
    transform-origin: left top
    transition: 0.4s linear
  &:hover::after
    
    color: #000
    background: #E8C300
  &--lefts::after
    display: block
    content: 'weddings '
    border-top-right-radius: 5px
    border-top-left-radius: 5px
    font-weight: 700
    text-transform: uppercase
    background-color: #000000
    color: #fff
    font-family: $ff1
    font-size: 24px
    width: calc(100% - 125px)
    padding: 28px
    text-align: left
    line-height: 12px
    position: absolute
    z-index: 1
    right: 68px
    bottom: 4px
    transform: rotate(-270deg)
    transform-origin: right bottom
/*section---picture==========*/
.section__picture
  display: flex
  flex-wrap: wrap
.image
  flex-basis: calc( 100% /4  )
  height: 360px
/*section---form==========*/
.form__contact
  margin-top: 51px
  &__data
    display: flex
    justify-content: space-between
    margin-bottom: 10px
  &--data
      flex-basis: 420px
      margin-bottom: 0px
  &--msg
    flex-basis: 100%
    height: 120px
    resize: none
    margin-bottom: 10px
  &__info
    display: flex
    justify-content: space-between
    &__item
      display: block
      align-self: center
      font-size: 14px
      line-height: 14px
      margin-right: 25px
      &:last-child
        margin-right: 0
      i
        margin-right: 5px
      &__link
        color: #333
        &:hover
          color: #E8C300

    &__list
      flex-basis: 50%
      &:first-child
        display: flex
/*section---map==========*/
.article--map
  background: url(../photo/card.png) center
  background-size: cover
  height: 475px
/*section---footer==========*/
.footer
  background-color: rgba(0, 0, 0, 0.9)

  &__text
    letter-spacing: 3px
    font-size: 12px
    font-family: $ff1
    line-height: 12px
    text-align: center
    color: rgba(255, 255,255 , 0.5)
    transition: .3s linear
    &:hover
      color: #fff
  &__title
    font-weight: 700
    transition: .6s linear
    &:hover
      color: #fff

    
      
    
      
      







    
    
    

    
  



  




      


  




    
  





    


    









  
    

